.green {
  background-color: #08b494;
}

.orange {
  background-color: #e09c24;
}

.blue {
  background-color: #0f9ffa;
}

.purple {
  background-color: #963596;
}

.navbar div {
  padding: 10px;
}

.navbar .logo {
  font-size: 220%;
}

.navbar a {
  color: white;
  font-size: 110%;
  font-weight: 500;
}

.search svg {
  width: 20px;
  height: 20px;
  color: white;
}

.list svg {
  width: 40px;
  height: 40px;
}

.list {
  background-color: white;
  border-radius: 50%;
  margin-left: 15px;
}

h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 330%;
  padding: 15px 20px;
}

.one img {
  width: 100%;
  height: 100%;
  padding: 15px 25px;
}

button {
  background: none;
  border: white 2px solid;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 2px;
  margin-left: 15px;
}

button:hover {
  background-color: #000;
  border-color: #000;
}

p {
  font-style: italic;
  color: #fff;
  font-size: 20px;
  line-height: 23.5px;
  font-weight: 400;
  margin-left: 15px;
}

.smol {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  color: #ffffff;
  text-transform: uppercase;
}

.bold {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.two img {
  width: 600px;
  height: 500px;
  padding: 20px;
}

.two h1 {
  padding-top: 25px;
}

.row {
  padding-bottom: 15px;
  padding-left: 15px;
}

.col {
  padding: 15px;
}

.three img {
  width: 100%;
  height: 100%;
}

.four img {
  width: 100%;
  height: 100%;
}

table th {
  padding-bottom: 10px;
  padding-left: 5px;
}

table td {
  padding: 5px;
}

table svg {
  margin-right: 5px;
}

.title {
  font-size: 50px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 70px;
  letter-spacing: -2.5px;
}

.para {
  font-size: 25px;
  font-weight: 300;
  margin-top: 10px;
  line-height: 40px;
}

.imgmap-parent {
  width: 1050px;
}

.imgmap-parent img {
  width: 100%;
  height: 100%;
}

.imgmap-parent .row {
  padding: 0;
}

.imgmap-parent .row-pad {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}

.imgmap-parent .col-6 {
  padding: 0;
}

.imgmap-parent .left .imgmap {
  width: 100%;
  height: 577px;
}

.five .row {
  padding: 0;
}

.grid {
  width: 500px;
  height: 280px;
  margin: 70px 80px;
  font-size: 110%;
  font-weight: 600;
  color: #fff;
}

.grid .row {
  height: 50%;
  padding: 0;
}

.grid .col-6 {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 1px #fff solid;
}

.grid .col-6:hover {
  background-color: rgb(231, 218, 218);
  color: #000;
  border: 1px #fff solid;
}

.rowm {
  margin-top: 50px;
}
